doctype html
html.before-100.no-scroll(class=DEV_MODE ? 'development': '')
  //- head
  include components/head.pug
  
  body.before-100
    #app.app
    //- script(src="https://code.createjs.com/1.0.0/createjs.min.js" defer)