button:focus
  outline 0
.button
  border 0
.button
  position relative
  display inline-block
  margin 20px 5px
  padding 0.5em 3em
  border 0
  background-color c-orange
  line-height 1.2
  cursor pointer
  applyColors(background-color border-color, true)